<div class="container">
	<h2>New article.</h2>
	<%= form_for :article, url: articles_path do |f| %>
		<p>
			<div class="form-group">
				<%= f.label :title %> <br />
				<%= f.text_field :title, class: "form-control", placeholder: "title" %>
			</div>
		</p>
		<p>
			<div class="form-group">
				
				<%= f.text_area :text, class: "form-control", placeholder: "New article" %>
			</div>
		</p>
		<p>
			<!-- <a <%= f.submit %> -->
			<button type="submit" class="btn btn-primary">Save article!</button>
		</p>
	<% end %>
</div>