<div class="container">

	<h1> <%= @article.title %> </h1>
		<p> <%= @article.text %> </p>
		<hr />

		<p>
			<% @article.comments.each do |comment| %>
				<i>User, <%= comment.author %>, left comment:</i> <br />
				<%= comment.body %>
				<hr />
			<% end %>
		</p>
		<% if user_signed_in? %>
			<%= form_for([@article, @article.comments.build]) do |f| %>
				<p>
					<i>Enter comment, <%= current_user.username %></i>
					<!-- <input type='hidden' name='author' value='<%= current_user.username %>'/> -->
					<%= f.hidden_field :author, value: current_user.username %>
				</p>
		
				<p>
					<%= f.text_area :body, class: "form-control", placeholder: "Comment" %>
				</p>
				<p>
					<!-- <%= f.submit %>  -->
					<button type="submit" class="btn btn-primary">Create comment!</button>
				</p>
			<% end %>
		<% else %>
			<p>
					
				<%= link_to 'Sign in!', new_user_session_path %> to leave a comment!
			</p>
		<% end %>
	
</div>
