<h1> Your contacts </h1>
<!-- <form action='/contacts' method='POST'>
	<input type='text' name='contact[email]' /> <br />
	<input type='text' name='contact[message]' /> <br/>
	<input type='submit' />
</form> -->
<%= form_for :contact, url: contacts_path do |f| %>
	<% if @c && @c.errors.any? %>
	<p>
		<ul>
		<% @c.errors.full_messages.each do |msg| %>
			<li><%= msg %> </li>
		<% end %>
		</ul>
	</p>
	<% end %>
	<p>
		<%= f.label :email %> <br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :message %> <br />
		<%= f.text_area :message %>
	</p>
	<p>
		<%= f.submit 'Send message'%>
	</p>
<% end %>